<html>
<head>
    <link rel="stylesheet" href="C:\Users\Gautom\Documents\GitHub\Tamago\public\css\main.css">
    <script src="C:\Users\Gautom\Documents\GitHub\Tamago\public\js\main.js"></script>
    <title="Tamago">
    <h1 class = "title">TAMAGO</h1>
</head>

<body>
  <h1 class = "subtitle">The Most Advanced AI Chatbot Online</h1>
  <table class = "General" align = "center">
  <tbody>
  <col width="101">
  <col width="426">
  <tr>
  <td>
  <table>
  <tbody>
  <tr>
  <td><div class = "small"><img id="drag1" src="C:\Users\Gautom\Documents\GitHub\Tamago\public\images\cookie.png" draggable="true" ondragstart="drag(event)"></div></td>
  </tr>
  <tr>
  <td><div class = "small"><img id="drag1" src="C:\Users\Gautom\Documents\GitHub\Tamago\public\images\heart.png" draggable="true" ondragstart="drag(event)"></div></td>
  </tr>
  <tr>
  <td><div class = "small"><img id="drag1" src="" draggable="true" ondragstart="drag(event)"></div></td>
  </tr>
  <tr>
  <td><div class = "small"><img id="drag1" src="" draggable="true" ondragstart="drag(event)"></div></td>
  </tr>
  </tbody>
  </table>
  </td>
  <td><div class = "construct"><img id="div1" src = "C:\Users\Gautom\Documents\GitHub\Tamago\public\images\PixelArt.png" ondrop="drop(event)" ondragover="allowDrop(event)"></img></div></td>
  </tr>
  </tbody>
  </table>
  <div class = "space"></div>


</body>
</html>
